---
layout: default
description: "你来到了没有知识的荒原 🙊"
header-img: "img/404-bg.jpg"
permalink: /404.html
---


<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<div class="site-heading" id="tag-heading">
					<h1>404</h1>
					<span class="subheading">{{ page.description }}</span>
					<p>zh: {{ site.zh | size }}</p>
					<p>en: {{ site.en | size }}</p>
					<p>jp: {{ site.jp | size }}</p>

					<h2>Posts</h2>

					{% for post in site.zh %}
					<p>{{ post.title }}</p>
					{% endfor %}

					<h1>404 Debug Page</h1>

					<p id="debug-url"></p>
					<p id="debug-lang"></p>
				</div>
			</div>
		</div>
	</div>
</header>





<script>

console.log("404 page loaded");

const path = window.location.pathname;
const lang = navigator.language;

console.log("Current path:", path);
console.log("Browser language:", lang);

document.getElementById("debug-url").innerText =
"Current URL: " + path;

document.getElementById("debug-lang").innerText =
"Browser Language: " + lang;

</script>

<script>
	document.body.classList.add('page-fullscreen');
</script>
