<!DOCTYPE html>
<html lang="en">

{% include head.html %}
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.5">


<link rel="stylesheet" href="css/chinaz.css">

</head>
<!-- hack iOS CSS :active style -->
<body ontouchstart="">
	<script src="/demos/googlegg.js"></script>

<div class="headline-bg index-headline-bg wavesWapper">
    <canvas id="waves" class="waves"></canvas>
</div>
<section class="features-video section section-on-bg feature-index">
    <div class="container"> 
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">

            </div>
        </div>         
    </div>
</section>

<script src="js/49f8daee.vendors.js"></script>
<script src="js/26f2fc0d.index.js"></script>

<div style="text-align:center;margin:-100px 0; font:normal 14px/24px 'MicroSoft YaHei';"> 

</div>

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}


<!-- Image to hack wechat -->
<img src="/img/apple-touch-icon.png" width="0" height="0" />
<!-- Migrate from head to bottom, no longer block render and still work -->

</body>

</html>
